/*----------------------١-----------------------*/
/*                 CSS Reset                    */
/*
يجب عليك وضع محتويات الـ 
CSS Reset
 هنا وليس أي نمط متعلق بالموقع، بل الأنماط التي تريد بها إعادة ضبط أنماط المتصفح
 إفتح هذه المقالة
 https://meyerweb.com/eric/tools/css/reset/
*/
/**/
* {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
	vertical-align: baseline;
}